.timeSpan {
	font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #585858;
	position: absolute;
	margin-top: 25px;
	opacity: 0;
}

.mainTitleBar {
	top: 50px;
	width: 180px;
	height: 10px;
	position: absolute;
	z-index: 3;
}
html {
	background-color: #F5F5F5;
}
.contact:hover {
	color: blue;
}
body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin:0;

  background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

/*
#chat {
	margin-left: auto;
	margin-right: auto;
	width: 910px;
	z-index: 1;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

#transcript {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: absolute;
	height: 50px;
	width: 700px;
	margin-right: 10px;
	/*border: 1px solid black;*/
	/*border-radius: .5em;*/
	padding: 5px;
	overflow : auto;
	float: left;
	/*background-color: #FFFFFF;*/
	left: 180px;
	top: 50px;
/*	border: solid 1px #E0DFDF;*/
	opacity: 0;
	z-index: -1;
}

/*RIGHT PANE =====================================*/
#userlistFrame {
	position: absolute;
	height: 160px;
	width: 194px;
	left: 0px;
	top:54px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	opacity: 0;
	overflow:hidden;
	overflow-y: scroll;
  z-index:4;
}


	#showTimeStamps {
		position: absolute;
		left: 5px;
	}
	#userList {
		position: absolute;
		top: 25px;
	}
 	.typing {
			position: absolute;
			width: 190px;
		}

		.userlistBox {
			position: absolute;
			width: 190px;
		}
			#userlistColor {
				height: 10px;
				width: 10px;
				position: absolute;
				left: 10px;
				top: 5px;
			}

			.userlistName {
        height: 20px;
				width: 130px;
				font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
				font-weight: 100;
				color: #585858;
				left: 30px;
        border-radius:3px;
        text-align:center;
			}

	#userlistTitle {
				font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;

letter-spacing: 1px;
color:black;
opacity: 0.4;
    padding-left:25px;
		position: absolute;
		top: 0px;
		width: 190px;
		/*text-align:center;*/
	}

#optionsFrame {
	position: absolute;
	height: 160px;
	width: 190px;
	left: 0px;
	top:215px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	opacity: 0;
	overflow:hidden;
  z-index: 10;
}
	#optionsTitle {
    		color: #585858;

		position: absolute;
		top: 0px;
		width: 190px;
		height:20px;
		text-align:center;
	}
	#options {
		position: absolute;
		top: 20px;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;

    color: black;
    opacity: 0.5;
	}


	.optionsBox {
		position: absolute;
		height: 25px;
		width: 155px;

		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
    		color: #585858;

		left:20px;
		z-index: -1;
		cursor: pointer;
	}
	.optionsBox:hover {
		background: rgba(0, 0, 0, 0.1);
		text-shadow: 0px 0px 3px white;
	}
		.optionsStateOff {
			position: absolute;
			height: 10px;
			width: 10px;
			border-radius: 10px;
			background: lightgray;
			right: 10px;
			top: 7px;
		}
		.optionsStateOn {
			position: absolute;
			height: 10px;
			width: 10px;
			border-radius: 10px;
			background: lightblue;
			right: 10px;
			top: 7px;
		}
		.optionsName {
			position: absolute;
			left: 0px;
			padding:5px;
		}



/*RIGHT PANE END =====================================*/
#message {
	bottom: 50px;
	height: 30px;
	width: 500px;
	padding: 5px;
	position:absolute;
	left: 190px;

	outline: none;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 0;
}



#mainTitleDesc{
	color: darkGray;
	font-style: Helvetica;
	opacity: .99;
	letter-spacing: 0px;
	font: 16px "Lucida Sans", Helvetica, Arial, sans-serif;
	-webkit-optimize-quality;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-optimize-quality;
	text-shadow: 0px 0px 40px white;
	position: relative;
	height: 66px;
	z-index: 5;
		position: absolute;
right: 2%;
bottom: -26px;
color: #707070;
}

#mainTitle2 {
	text-shadow: 0px 0px 8px lightgray;
	color:
	darkGray;
	text-align: center;
	font-style: Helvetica;
	opacity: .99;
	letter-spacing: 3px;
	font: 40px "Lucida Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: 0px 0px 40px
	white;
	position: relative;
	top: -80px;
	opacity: 0;
}



#progressbar {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 75%;
}

.me {
	/*font-weight: bold;*/
	color: red;
}

.other {
  		color: #585858;

	text-shadow: 0px 0px 5px white;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.rec_message {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 300;
}

/*BUBBLE STYLES*/
.bubbleFrame {
	height: 30px;
	width: 150px;
}

.bubbleBody {
	word-wrap:break-word;
}

.bubbleFrameR {
	height: 30px;
	width: 150px;
}
	.timeSpan {
		font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
		color: #585858;


		position: absolute;
		margin-top: 25px;
	}

	/*RIGHT*/
	.nameSpanR {
		position: absolute;
		right: 5px;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		text-shadow: 0px 0px 2px white;
		color: #585858;


		margin-top: 9px;
	}

	.bubbleR {
		position: absolute;
		right: 40px;

		background: #C3D9FF;
		background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );

		padding: 10px;
		border-radius: 10px;
		/*width: 300px;*/
	}

	.bubbleRPic {
		position: absolute;
		right: 24px;
	}
	/*LEFT*/
	.nameSpanL {
		position: absolute;
		left: 5px;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		text-shadow: 0px 0px 2px white;
		color: #585858;


		margin-top: 9px;
	}

	.bubbleLPic {
		position: absolute;
		left: 24px;
	}

	.bubbleL {
		position: absolute;
		left: 40px;
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
		padding: 10px;
		border-radius: 10px;
		/*width: 300px;*/
	}

/*Bubble Colors*/
	.blueberry {
		background: #C3D9FF;
		background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
		position: absolute;
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 5px #C3D9FF;*/
		background: rgba(177, 200, 239, 1);
	}
	.blueberryYt {
		background: #C3D9FF;
		background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
		padding: 10px;
		background: rgba(177, 200, 239, 1);
	}
	.blueberry:hover {
		box-shadow: 0px 0px 15px #C3D9FF;
		opacity: 0.9;
	}

	.blueberryBox {
		height: 20px;
		width: 120px;
		position: absolute;
		left: 26px;
		top: 5px;
		background: #C3D9FF;
		background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
		background:rgba(177, 200, 239, 1);
	}
	.homeButton {
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
		border: none;
		height: 40px;
		width: 65px;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		color:
		white;
		text-shadow: 0px 0px 2px
		white;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		outline: none;
			left: 50px;
		border-radius: 4px;
		box-shadow: 0px 0px 3px
		#CDEB8E;
		bottom: 13px;
		position: absolute;
		cursor: pointer;
	}
	.lime {
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
		position: absolute;
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 5px rgb(205,235,142);*/
		background:rgba(205,235,142,1);
	}
	.limeYt {
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
		padding: 10px;
		background:rgba(205,235,142,1);
	}
	.lime:hover {
		box-shadow: 0px 0px 15px rgb(205,235,142);
		opacity: 0.9;
	}

	.limeBox {
		height: 20px;
		width: 120px;
		position: absolute;
		left: 26px;
		top: 5px;
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
		background: rgba(205,235,142,1);
	}
	.tangerineYt {
		background: rgb(255,214,94); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 10px rgb(255,214,94);*/
background: rgba(254,191,4,1);
	}

	.tangerine {
		background: rgb(255,214,94); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
		position: absolute;
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 5px rgb(255,214,94);*/
background: rgba(254,191,4,1);
	}
	.tangerine:hover {
		box-shadow: 0px 0px 15px rgb(255,214,94);
		opacity: 0.9;
	}

	.tangerineBox {
		height: 20px;
		width: 120px;
		position: absolute;
		left: 26px;
		top: 5px;
		background: rgb(255,214,94); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
background: rgba(254,191,4,1);
	}

	.watermelonYt {
		background: rgb(254,187,187); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
		padding: 10px;
background: rgba(254,144,144,1);
	}

	.watermelon {
		background: rgb(254,187,187); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
		position: absolute;
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 5px rgb(254,187,187);*/
background: rgba(254,144,144,1);
	}
	.watermelon:hover {
		box-shadow: 0px 0px 15px rgb(254,187,187);
		opacity: 0.9;
	}

	.watermelonBox {
		height: 20px;
		width: 120px;
		position: absolute;
		left: 26px;
		top: 5px;
				background: rgb(254,187,187); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
background: rgba(254,144,144,1);
	}

	.grape {
		background: rgb(235,233,249); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(193,191,234,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* W3C */
    background: rgb(251,131,250); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,131,250,1) 0%, rgba(233,60,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,1)), color-stop(100%,rgba(233,60,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* IE6-9 */
		position: absolute;
		padding: 10px;
		border-radius: 2px;
		/*box-shadow: 0px 0px 5px rgb(235,233,249);*/
background: rgba(193,191,234,1);
	}
	.grapeYt {
		background: rgb(235,233,249); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(193,191,234,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* W3C */
		padding: 10px;
    background: rgb(251,131,250); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,131,250,1) 0%, rgba(233,60,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,1)), color-stop(100%,rgba(233,60,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* IE6-9 */
background: rgba(193,191,234,1);
	}

	.grapeBox{
		height: 20px;
		width: 120px;
		position: absolute;
		left: 26px;
		top: 5px;
		background: rgb(235,233,249); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(193,191,234,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* W3C */
    background: rgb(251,131,250); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,131,250,1) 0%, rgba(233,60,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,1)), color-stop(100%,rgba(233,60,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* IE6-9 */
background: rgba(193,191,234,1);
	}
	.grape:hover {
		box-shadow: 0px 0px 15px #EBE9F9;
		opacity: 0.9;
	}

	.nameSpan {
		position: absolute;
		font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		text-shadow: 0px 0px 2px white;
		color: #585858;


		margin-top: 9px;
	}

/*MOdal*/
#joinButton:hover {
	box-shadow: 0px 0px 20px lightBlue;
}
#joinButton {
	background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	position: absolute;
	left: 40px;
	bottom: 20px;
	background:
	#D4E4EF;
	background: -moz-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
	rgba(212, 228, 239, 1)), color-stop(100%,
	rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	border: none;
	height: 66px;
	width: 180px;
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:
	white;
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	outline:none;
background: rgba(134, 174, 204, 1);
}
#createButton:hover {
	box-shadow: 0px 0px 20px #CDEB8E;
}
#createButton {
	position: absolute;
	right: 44px;
	bottom: 20px;
	width: 68px;
	background:
	#D4E4EF;
	background: -moz-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
	rgba(212, 228, 239, 1)), color-stop(100%,
	rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(top,
	rgba(212, 228, 239, 1) 0%,
	rgba(134, 174, 204, 1) 100%);
	border: none;
	height: 33px;
	width: 65px;
	font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
	color:
	white;
	font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	outline:none;
		background: rgb(205,235,142); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */  background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
background:rgba(165,201,86,1);
}
#prompt {
	display: block;
/*	background: -moz-linear-gradient(top,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
		rgba(255, 255, 255, 1)), color-stop(100%,
		rgba(229, 229, 229, 1)));
	background: -webkit-linear-gradient(top,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100%);
	background: -o-linear-gradient(top,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100%);
	background: -ms-linear-gradient(top,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100%);
	background: linear-gradient(top,
		rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100%);*/
	background: #F5F5F5;

	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	border-radius: 0px;
	border: none;

	z-index: 10;
	padding: 10px;
	position: absolute;
	height: 243px;
	width: 215px;
	right: 32px;
	top: 50px;
	background:white;
border:solid 1px lightgray;
}
#promptMobile {
	display: block;
	background: #F5F5F5;

	box-shadow: 0px 0px 25px darkGray;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	border-radius: 0px;
	border: none;

	z-index: 10;
	padding: 10px;
	height: 243px;
	width: 215px;

	margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
}
/*MODAL*/
	.modalInput {
		position: absolute;
		left: 41px;
		height: 28px;
		width: 146px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		outline:none;
		border: 1px solid lightgray;
		opacity: 0.99;
	}

	#modalError {
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: orange;
		position: absolute;
		width: 450px;
		text-align:center;
		opacity: 0.99;
		top: 20px;
	}

/*BOXES*/

.ytEmbed {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
	height: 323px;
}
.featureText {
	position: absolute;
  		color: #585858;

	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	opacity: 0.99;
}

.featureTitle {
	position: absolute;
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: black;
	opacity: 1;
}

#allFeatures {
	position: absolute;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: black;
	opacity: 0.5;
	bottom: 10px;
	left: 135px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	user-select: none;
}
	#allFeatures:hover {
		background: rgba(0, 0, 0, 0.1);
		text-shadow: 0px 0px 3px whitesmoke;
		box-shadow: 0px 0px 10px white;
	}

#feature {
	position: absolute;
	left: 0px;
	width: 800px;
	height: 350px;
}
	.featureBox {
		width: 300px;
		height:128px;
	}
	.featureImage {
		position: absolute;
		width: 80px;
		height: 80px;
		top: 10px;
	}

#mainBox {
	overflow:hidden;
	position: absolute;
	width: 800px;
	height: 400px;
	top: 75px;
}
/*#prompt {
	z-index: 10;
	padding: 10px;
	background: #F5F5F5;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: absolute;
	width: 215px;
	position: absolute;
	right: 32px;
	top: 50px;
}*/
/*OVERLAY*/
#overlay {
	position: absolute;
	top: 0px;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(1,1,1,0.82);
	z-index: -1;
	opacity: 0;
}
	.overlayTitle {
		font: 34px "Lucida Grande", Helvetica, Arial, sans-serif;
		color: white;
		text-shadow: 0px 0px 10px black;
		opacity: 0.99;
		width: 100%;

		position: absolute;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 300;
		padding: 10px;
	}
	.overlayDescBox {
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 300;
		color: white;
		font-size: 20px;
		opacity: 0.85;
		position: absolute;
		padding: 10px;
		top: 50px;
		word-wrap: break-word;
	}

/*Donate*/
	#overlayDonate {
		position: absolute;
		width: 600px;
		height: 400px;
		background: red;
	}
#authors {
  /*background: rgba(255,255,255,1);*/
	position: absolute;
	width: 400px;
	height: 30px;
	left: 10%;
	bottom: 43px;
	text-align: center;
	opacity: 0.99;
	color: #707070;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	z-index: 100;
}
#emails {
  /*background: rgba(255,255,255,1);*/
	position: absolute;
	width: 400px;
	height: 30px;
	left: 10%;
	bottom: 18px;
	text-align: center;
	opacity: 0.99;
	color: #707070;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	z-index: 100;
	cursor: pointer;
}

#donateTail {
position: absolute;
right: 88px;
	z-index: -1;
	opacity: 0;
}

#donateCloseText {
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: absolute;
	left: 5px;
	color:
	white;
	cursor: pointer;
}
#donateClose {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 16px;
}

#donateBubble {
	position: absolute;
	height: 130px;
	width: 380px;
	left: 188px;
	background: rgba(0,0,0,0.72);
	z-index: -1;
	opacity: 0;
}
	#donateBubbleText {
		color: white;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		opacity: 0.99;
		word-wrap: break-word;
		width: 302px;
		position: absolute;
		left: 20px;
		top: 20px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#donateAddress {
		color: white;
		font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
		font-weight: 100;
		opacity: 0.99;
		width: 302px;
		position: absolute;
		left: 20px;
		top: 80px;
	}

	#featureDetail {
		position: absolute;
left: 90px;
width: 750px;
height: 350px;
	bottom: -100%;
	}
	.featureDetailText {
		position: absolute;
font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight: 100;
opacity: 0.99;
color:
#707070;
width: 700px;
text-align: justify;
	}

.ie {
font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight: 100;
color: #707070;
width: 100%;
position: relative;
top: 120px;
text-align: center;
}

#createButton:active {
	opacity: 0.9;
	box-shadow: 0px 0px 25px #CDEB8E;
}
#joinButton:active {
	opacity: 0.9;
	box-shadow: 0px 0px 25px lightBlue;
}


#shareTitle {
	position: absolute;
	left: -330px;
	width: 135px;
	outline: none;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: whitesmoke;
	opacity: 0.9;
}

#shareURL {
	position: absolute;
	width: 250px;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: whitesmoke;
	opacity: 0.99;
	left: -285px;
	top: 35px;
	text-align:center;
}

#shareTwitter {
	position: absolute;
	width: 250px;
	height: 35px;
	color: whiteSmoke;
	opacity: 0.99;
	left: -299px;
	top: 65px;
	text-align: center;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: whiteSmoke;
}
#shareTwitter:hover {
	opacity: 0.9;
	text-shadow: 0px 0px 10px white;
}

/*POLL CREATE FORM ----------------------------------------------------------------*/
.pollFormTitle {
	top: 20px;
  position: absolute;
  left: 120px;
	text-align: center;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: whiteSmoke;
	opacity: 0.99;
}

.pollFormField {
  top: 20px;
  position: absolute;
  left: 120px;
	text-align: left;
	font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: black;
	opacity: 0.99;
}

#seperator {
  border-bottom: 1px solid white;
  height: 10px;
  width: 380px;
  height: 110px;
}

#pollFormOptionsScroll {
  height: 150px;
  width: 380px;
  overflow-y:scroll;
 }

#pollFormOptionsAll {
  height: 0px;
  width: 380px;
}

#pollFormAddOption {
  border: none;
  background: lightBlue;
  color: white;
  height: 30px;
  position: absolute;
  left: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 100;
  opacity: 0.99;
  box-shadow:0px 0px 5px 0px lightBlue;
  bottom: 5px;
  cursor: pointer;

}

#pollFormDoneOption {
  border: none;
  background: lightGreen;
  color: white;
  height: 30px;
  position: absolute;
  right: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 100;
  opacity: 0.99;
  box-shadow:0px 0px 5px 0px lightGreen;
  bottom: 5px;
  cursor: pointer;
  width: 80px;
}

#pollFormDoneImage {
  border: none;
  background: lightGreen;
  color: white;
  height: 30px;
  position: absolute;
  right: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 100;
  opacity: 0.99;
  box-shadow:0px 0px 5px 0px lightGreen;
  bottom: 5px;
  cursor: pointer;
  width: 80px;
  background: url('image/createPoll.gif');
  background-position:center;
  background-repeat:no-repeat;
}

#pollFormDoneOption:hover {
 box-shadow:0px 0px 8px 1px lightGreen;
 opacity: 0.9;
}

#pollFormAddOption:hover {
 box-shadow:0px 0px 8px 1px lightBlue;
 opacity: 0.9;
}

.pollFormOption {
  position:relative;
  width: 380px;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.pollFormOptionRadio {
  position: absolute;
  top: 15px;
  left: 20px;
}

.pollFormOptionInput {
  top: 11px;
  position: absolute;
  width: 300px;
  left: 55px;
  text-align: left;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
	opacity: 0.99;
}

#pollTimeSelect {
bottom: 10px;
position: absolute;
width: 150px;
left: 130px;
text-align: center;
font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
color: black;
opacity: 0.99;
height: 20px;
border: none;
text-align: center;
left:116px;
}



/*POLL VIEW RELATED STYLES ----------------------------------------------------------------*/
#pollHolder {
  position: absolute;
  top: 70px;
  right: 5px;
  width: 380px;
}

#pollViewFormOptionsScroll {
  height: 200px;
  width: 364px;
  overflow-y:scroll;
  overflow-x:hidden;
  background: rgba(255, 255, 255, 0.5);
 position: relative;
  left: 10px;

}

#pollViewFormOptionsLip {
  height: 40px;
  width: 364px;
  overflow-y:scroll;
  overflow-x:hidden;
  position: relative;
  padding: 10px;
  text-align: center;
  font: 13px "helvetica neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 0.99;
  color: white;
  height: 25px;
  color: #585858;
}


#pollViewFormOptionsAll {
  height: 0px;
  width: 360px;
}

#pollTitle {
  width: 350px;
  position: relative;
  left: 10px;
  text-align: center;
  font: 15px "helvetica neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  opacity: 0.99;
  color: white;
  height: 25px;
  padding: 10px;
	background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
		padding: 7px;
		box-shadow: 0px 0px 5px rgb(254,187,187);

  font-weight: bold;
}


/*POLL VIEW FORM OPTIONS-------------------------------------------------------------------*/

.pollViewFormOptionA {
  position:relative;
  width: 380px;
  height: 34px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  opacity: 0.99;
  color: #585858;
  cursor: pointer;
}
.pollViewFormOptionA:hover {
  background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
    background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
    background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
    background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
    background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
  box-shadow: 0px 0px 5px #C3D9FF;
  color: white;
}

.pollViewFormOptionB {
  position:relative;
  width: 380px;
  height: 34px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  opacity: 0.99;
  color: #585858;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}
.pollViewFormOptionB:hover {
	background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
		box-shadow: 0px 0px 5px #C3D9FF;
    color: white;
}

.pollViewFormOptionSelected {
  position:relative;
  width: 380px;
  height: 34px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  opacity: 0.99;
  color: #585858;
  cursor: pointer;
	background: -moz-linear-gradient(top, rgba(195, 217, 255, 1) 0%, rgba(177, 200, 239, 1) 41%, rgba(152, 176, 217, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195, 217, 255, 1)), color-stop(41%,rgba(177, 200, 239, 1)), color-stop(100%,rgba(152, 176, 217, 1)));
		background: -webkit-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -o-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: -ms-linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		background: linear-gradient(top, rgba(195, 217, 255, 1) 0%,rgba(177, 200, 239, 1) 41%,rgba(152, 176, 217, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 );
		box-shadow: 0px 0px 5px #C3D9FF;
}


/*TEXT IN POLL VIEW--------------------------------------------------------------*/
.pollViewFormOptionText {
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 0.99;
  color: #585858;
  cursor: pointer;
  width: 300px;
  position: relative;
  left: 40px;
  cursor:pointer;
  top: 5px;
}

.pollViewFormOptionTextHover {
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 0.99;
  color: white;
  cursor: pointer;
  width: 300px;
  position: relative;
  left: 40px;
  cursor:pointer;
  top: 5px;
}

.pollViewFormOptionTextSelected {
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 0.99;
  color: white;
  cursor: pointer;
  width: 300px;
  position: relative;
  left: 40px;
  cursor:pointer;
  top: 5px;
}


/*CIRCLE IN POLL VIEW--------------------------------------------------------------*/
.pollViewFormOptionNotSelected {

    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 20px;

    left: 15px;
    top: 10px;

    z-index: 1;

    cursor: pointer;

background: rgb(254,187,187); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
		box-shadow: 0px 0px 5px rgb(254,187,187);


  opacity: 0.8;
  }
.pollViewFormOptionNotSelectedHover {

    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 20px;

    left: 15px;
    top: 10px;

    z-index: 1;

    cursor: pointer;

    background: white;
    box-shadow: 0px 0px 5px lightBlue;
    opacity: 0.8;
  }

.pollViewFormOptionSelectedCircle {

    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 20px;

    left: 15px;
    top: 10px;

    z-index: 1;

    cursor: pointer;

    background: white;
    box-shadow: 0px 0px 5px white;
    opacity: 0.8;
  }

.mainTitleBar2 {
	top: 37px;
	width: 180px;
	height: 1px;
	position: absolute;
	z-index: 12;
}

#mainTitle{
cursor: pointer;
position: absolute;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 32px;
line-height: normal;
font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;

	color: darkGray;

  font-style: 'Lucida Grande', Helvetica, Arial, sans-serif;
	opacity: .99;
	letter-spacing: 2px;
	font: 32px "Lucida Sans", Helvetica, Arial, sans-serif;
	-webkit-optimize-quality;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-optimize-quality;
	text-shadow: 0px 0px 40px white;
	position: relative;
	height: 66px;
	z-index: 5;
	background: none;

}

.typing {
  position: absolute;
  width: 50px;
  height: 20px;
  z-index: 10;
  left: 152px;
}

#back {
  /*background: url('4th.png');*/
  position: absolute;
  height: 100%;
  width: 100%;
  margin:0;
  background-position:center;
}
